<div class="form">
    <div class="title">Добро пожаловать</div>
    <div class="subtitle">Давайте создадим аккаунт</div>
    <div class="input-container ic1">
      <input id="firstname" class="input" type="text" placeholder=" " />
      <div class="cut"></div>
      <label for="firstname" class="placeholder">Email</label>
    </div>
    <div class="input-container ic2">
      <input id="lastname" class="input" type="text" placeholder=" " />
      <div class="cut"></div>
      <label for="lastname" class="placeholder">Пароль</label>
    </div>
    <div class="input-container ic2">
        <input id="lastname" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="lastname" class="placeholder">Подтвердить Пароль</label>
      </div>
    <button type="text" class="submit" [routerLink]="['']">Подтвердить</button>
</div>
