.auth {
    position: absolute;
    right: 10px; 
    top: 10px;
    background: #CE242B;
    color: #fff; 
    border: none; 
    padding: .7rem 2rem; 
    box-shadow: 5px 5px 0 #000; 
    transition: 1s; 
  }
  