.sidebar {
    height: 200px;
    width: 150px;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: rgb(88, 8, 216);
    color: white;

    div {
        padding: 8px;
        font-size: 24px;
        display: block;
    }
}
